<!DOCTYPE html>
<html>
	<div class="modal-dialog text-center">
		<div class="col-sm-8 main-section">
			<div class="modal-content">
				<div class="col-12 logo-img">
					<img src="../../../assets/pic/khawgang.jpg">
				</div>
				<form [(ngModel)]="loginForm">
				<div class="col-12">
					<div class="form-group">
							<input type="text" class="form-control" placeholder="อีเมลผู้ใช้งาน">
					</div>
					<div class="form-group">
						<input type="Password" class="form-control" placeholder="รหัสผ่าน">
						<label class="error">{{errorMessage}}</label>
					</div>
					<button (click)="tryLogin()" type="submit" class="btn p-3 mb-3 bg-ghost text-white"><i
							class="fas fa-sign-in-alt"></i>เข้าสู่ระบบ</button>
					<i class="fas fa-user"></i>
				</div>
				</form>
			</div>
			<!----End of Modal Content -->
		</div>
	</div>

		<div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
</html>