    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" [routerLink]="['/order']" routerLinkActive="active">
            <img src="../../../assets/pic/brand.jpg" width="30" height="30" class="d-inline-block align-top" alt="">ข้าวแกงตากะยาย
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <a class="nav-item nav-link" [routerLink]="['/total']">ยอดขาย</a>
            </ul>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">ออกจากระบบ</button>
        </form>
    </nav> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- nav navigation -->

    
   
    <!-- Side navigation -->
    <!-- <body>
    <div class="sidenav">
        <li class="nav-header"><img src="../../../assets/pic/brand.jpg" width="130" height="130" class="align-center" alt=""></li>
        <a href="#" class="nav-item nav-link" [routerLink]="['/order']">หน้าหลัก</a>
        <a href="#" class="nav-item nav-link" [routerLink]="['/total']">ดูยอดขาย</a>
        <a href="#">ออกจากระบบ</a>
    </div>
    </body> -->
    
    <!-- <body> -->
        <header>
            <nav class="brannav">
                <img src="../../../assets/pic/brand.jpg" width="130" height="130" class="align-center" alt="">
                <h1 class="brand"><a href="#" class="nav-item nav-link" [routerLink]="['/order']">ตา<span>กะ</span>ยายข้าวราดแกง</a></h1>
                <ul>
                    <li><a href="#" class="nav-item nav-link" [routerLink]="['/order']">หน้าหลัก</a></li>
                    <li><a href="#" class="nav-item nav-link" [routerLink]="['/check-list']">เช็ครายการสั่ง</a></li>
                    <li><a href="#" class="nav-item nav-link" [routerLink]="['/total']">ดูยอดขาย</a></li>
                    <li><a href="#" class="nav-item nav-link">ออกจากระบบ</a></li>
                </ul>
            </nav>
        </header>
    <!-- </body> -->